html,
body {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(20, 20, 20);
  /* border-left: #ad1616 solid 18vw; */
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  animation: hide 1s 2s both;
  background: rgb(20, 20, 20);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
}

.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.main {
  flex-grow: 1;
}

.sidebar {
  position: sticky;
  background-color: #ad1616;
  width: 18vw;
  height: 280%;
}

h1 {
  color: #f4ebf6;
  border-bottom: solid 1px;
  position: absolute;
  top: 1em;
  left: 18vw;
  padding: 0 2em 0 1em;
  margin: 0;
}

.hide {
  display: none;
}
/*ページ遷移用*/
.links {
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 2;
}
.links a{
  color: #f4ebf6;
}
/*ページ遷移用丸オブジェクト*/
.links--opener {
  cursor: pointer;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #ad1616;
  transition: 1s;
  transform: scale(1);
}

.links--state {
  pointer-events: auto;
  display: none;
}

.links--list {
  pointer-events: none;
  position: absolute;
  bottom: 75%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.3s opacity;
  opacity: 0;
}

.links--state:checked ~ .links--list {
  pointer-events: auto;
  cursor: default;
  opacity: 1;
  transition: 0.2s 0.9s opacity;
}

.links--state:checked ~ .links--opener {
  pointer-events: auto;
  transform: scale(4);
}
/*
.modal {
  color: #fff;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ad1616;
  border: solid 1px;
  width: 80%;
  height: 80%;
  z-index: 1;
  opacity: 0;
  transition: 0.2s opacity;
}

.modal:target {
  pointer-events: auto;
  opacity: 1;
}
*/
/*プロフィール本文用スタイル*/
.profile {
  background: rgb(20, 20, 20);
  position: relative;
  top: 1em;
  right: 9vw;
  text-align: center;
  margin: 5em auto;
  max-width: 400px;
  width: 100%;
  color: #f4ebf6;
}
/*プロフィールアイコン画像用スタイル*/
.profile--image {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
/*ドキュメント本文用スタイル*/
.Document{
  position: relative;
  top: 1em;
  /*right: 30vw;*/
  text-align: left;
  margin: 5em auto;
  /*max-width: 400px;*/
  width: 80%;
  color: #f4ebf6;
}
.Document h1{
  color: #f4ebf6;
  border-bottom: solid 1px;
  position: absolute;
  top: -3vw;
  left: -1vw;
  padding: 0 2em 0 1em;
  margin: 0;
}
/*ドキュメント写真用スタイル*/
.synth--image1{
  width: 50%;
}
.synth--image2{
  width: 60%;
}